
<div class="p-5" style="background-color:">
  <div class="container">
  <div class="row">
    <div class="jumbotron col-md-6 col-lg-3">
      <h1 class="display-2">Jumbo heading</h1>
      <p class="lead">Jumbo helper text</p>
      <hr class="my-2">
      <p>More info</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
      </p>
    </div>
    
  </div>
 
  
  </div>
</div>
</div>