<div class="jumbotron m-5 mt-5">
  <h1 class="display-3">LECTURER: {{user.userDisplayName}}</h1>
  <p class="lead"></p>
  <hr class="my-2">
  <p>More info</p>
  <p class="lead">
  <form action="auth/logout" method="get">
    <button type="submit" class="btn btn-primary btn-lg" role="button">LOGOUT</button>
  </form>
  </p>
</div>