<form action="/auth/login" method="post">
  <div class="jumbotron">
    <h1 class="display-4">LOGIN</h1>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId"
        placeholder="">
    </div>
    <div class="form-group">
      <input type="submit" class="form-control" aria-describedby="helpId" placeholder="" />
    </div>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
      <a class="btn btn-primary btn-lg" href="/auth/register" role="button">REGISTER</a>
    </p>
  </div>
</form>