<div class="jumbotron m-0 mt-5" style="z-index: 10; padding: 2rem 4rem !important">
    <h1 class="">
        <span class="text-danger">Online</span>
        <span class='font-italic'
            style='color:rgb(123, 234, 253); text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;'>Academy</span>
    </h1>
    <hr class="my-2">
    <div class="row">
        <div class="col-lg-6 my-auto">
            <h2>Contact - Suggestions</h2>
            <p>Suggest or contact our Team if you have service, advertising or other questions.</p>
        </div>
        <form class='col-lg-6'>
            <div class="form-group">
                <label for="exampleFormControlInput1" class='font-weight-bolder'>Email address:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@gmail.com">
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1" class='font-weight-bolder'>Your message:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">SEND</a>
            </p>
        </form>
    </div>
</div>