{{#section 'js'}}
<script>
  $("#submitDeleteCat").click(function () {
    Swal.fire({
      title: 'Bạn chắc chứ?',
      text: "Thao tác này không hoàn lại được",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Xóa',
      cancelButtonText: 'Hủy'
    }).then((result) => {
      if (result.value) {
        var action = $(this).attr('formaction')
        var form = $("#formEditCat");
        form.attr('action', action);
        form.submit();
        Swal.fire(
          'Xóa thành công!',
          'Lĩnh vực này đã được xóa.',
          'success'
        ).then((result) => {
          if (result.value)
            $(location).attr('href', '/categories1')
        })
      }
    })
  });

  $("#submitSaveCat").click(function () {
    if ($("#txtCatName").val().length > 0)
      submitSaveCat();
  })

  function submitSaveCat() {
    var action = $("#submitSaveCat").attr('formaction')
    var form = $("#formEditCat");
    form.attr('action', action);
    $.ajax({
      type: "POST",
      url: action,
      data: form.serialize(),
      success: function (data) {
        if (data.saved) {
          Swal.fire(
            'Thay đổi thành công',
            'Đã đổi tên lĩnh vực này.',
            'success'
          ).then((result) => {
            location.reload();
          })
        }
        else {
          Swal.fire(
            'Tên đã tồn tại!!!',
            'Vui lòng nhập tên khác',
            'error'
          ).then((result) => {
            location.reload();
          })
        }
      }
    })
  }
</script>
{{/section}}

<form method="POST" id="formEditCat">
  <div class="card  m-5 mt-5">
    <h5 class="card-header">
      Thay đổi tên lĩnh vực
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input type="text" class="form-control" id="txtCatID" name="catID" value="{{this.category.catID}}" readonly>
      </div>
      <div class="form-group">
        <label for="txtCatName">Tên lĩnh vực:</label>
        <input type="text" class="form-control" id="txtCatName" name="catName" value="{{this.category.catName}}"
          autofocus required>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary mr-1" href="/categories1" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Quay về
      </a>
      <button type="button" id="submitDeleteCat" class="btn btn-outline-danger mr-1" formaction="/categories1/del">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Xóa lĩnh vực
      </button>
      <button type="button" id="submitSaveCat" class="btn btn-outline-success" formaction="/categories1/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </div>
  </div>
</form>