{{#section 'js'}}
<script>
  $("#submitDeleteCat").click(function () {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.value) {
        var action = $(this).attr('formaction')
        var form = $("#formEditCat");
        form.attr('action', action);
        form.submit();
        Swal.fire(
          'Deleted!',
          'This category has been deleted.',
          'success'
        ).then((result) => {
            if(result.value) 
              $(location).attr('href', '/categories')
        })
      }
    })

  });
</script>
{{/section}}

<form method="POST" id="formEditCat">
  <div class="card  m-5 mt-5">
    <h5 class="card-header">
      Category
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input type="text" class="form-control" id="txtCatID" name="catID" value="{{this.category.catID}}" readonly>
      </div>
      <div class="form-group">
        <label for="txtCatName">Category</label>
        <input type="text" class="form-control" id="txtCatName" name="catName" value="{{this.category.catName}}"
          autofocus>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" href="/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button type="button" id="submitDeleteCat" class="btn btn-outline-danger" formaction="/categories/del">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-outline-success" formaction="/categories/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>