<form method="POST">
  <div class="card">
    <h5 class="card-header">
      Category
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input type="text" class="form-control" id="txtCatID" name="CatID" value="{{this.category.catID}}" readonly>
      </div>
      <div class="form-group">
        <label for="txtCatName">Category</label>
        <input type="text" class="form-control" id="txtCatName" name="CatName" value="{{this.category.catName}}"
          autofocus>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" href="/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button type="submit" class="btn btn-outline-danger" formaction="/categories/del">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-outline-success" formaction="/categories/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>