{{#section 'js'}}
{{/section}}

<div class="card m-5 mt-5">
  <h5 class="card-header d-flex justify-content-between">
    Categories
    <a class="btn btn-outline-success" href="/categories/add" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add Category
    </a>
  </h5>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">No data.</p>
  </div>
  {{else}}
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Category</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.categories}}
        <tr>
          <th scope="row">{{catID}}</th>
          <td>{{catName}}</td>
          <td class="text-right">
            <a class="btn btn-sm btn-primary" href="/categories/{{catID}}" role="button" title="Edit Category">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
  <div class="card-footer text-muted">
    
  </div>
</div>